In [1]:
import pandas as pd

In [2]:
airpoldeath = pd.read_csv("airPollutionDeathRate.csv")

deforestation = pd.read_csv("goal15.forest_shares.csv"
)

In [4]:
airpoldeath

,Location,Dim2,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Both sexes,95.12 [85.12-104.3]
1,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Male,95.58 [85.5-106]
2,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Female,94.63 [84.55-103.9]
3,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Both sexes,211.1 [188.9-231.3]
4,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Male,228.7 [204.6-253.6]
...,...,...,...,...,...,...
6583,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Male,5.54 [2.74-7.66]
6584,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Female,6.19 [4.73-7.3]
6585,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Both sexes,16.09 [11.67-19.89]
6586,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Male,17.72 [8.75-24.51]
6587,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Female,14.95 [11.43-17.62]

In [5]:
deforestation

    iso3c  forests_2000  forests_2020  trend
0     AFG           1.9           1.9    0.0
1     ALB          28.1          28.8    2.5
2     DZA           0.7           0.8   14.3
3     ASM          88.7          85.7   -3.4
4     AND          34.0          34.0    0.0
..    ...           ...           ...    ...
232   ESH           2.5           2.5    0.0
233   WLD          31.9          31.2   -2.2
234   YEM           1.0           1.0    0.0
235   ZMB          63.3          60.3   -4.7
236   ZWE          47.5          45.1   -5.1

[237 rows x 4 columns]

In [25]:
deforestation.describe()

       forests_2000  forests_2020       trend
count    227.000000    227.000000  227.000000
mean      33.676211     32.977093    0.104846
std       24.977047     24.357814   16.863427
min        0.100000      0.000000 -100.000000
25%       11.650000     11.300000   -5.500000
50%       32.500000     31.500000    0.000000
75%       52.150000     50.600000    4.650000
max       98.300000     97.400000   86.200000

In [3]:
airpoldeath.info()
deforestation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6588 entries, 0 to 6587
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       6588 non-null   object
 1   Dim2           6588 non-null   object
 2   Indicator      6588 non-null   object
 3   Period         6588 non-null   int64
 4   Dim1           6588 non-null   object
 5   First Tooltip  6588 non-null   object
dtypes: int64(1), object(5)
memory usage: 308.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   iso3c         237 non-null    object
 1   forests_2000  237 non-null    float64
 2   forests_2020  237 non-null    float64
 3   trend         227 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.5+ KB

In [7]:
#Null values
print(airpoldeath.isnull().sum())
print(deforestation.isnull().sum())

Location         0
Dim2             0
Indicator        0
Period           0
Dim1             0
First Tooltip    0
dtype: int64
iso3c            0
forests_2000     0
forests_2020     0
trend           10
dtype: int64

In [8]:
#10 Null value on trend column

In [21]:
airpoldeath.duplicated().sum()

0

In [22]:
deforestation.duplicated().sum()

0

In [23]:
deforestation.dropna(inplace=True)